## Heroes of Pymoli

In [31]:
# Dependencies and Setup
import pandas as pd

# Raw data file
file_to_load = "Resources/purchase_data.csv"

# Read purchasing file and store into pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

## Player Count

In [32]:
# Count the SN with unique names 
player_count = purchase_data_df["SN"].nunique()

# Create a DataFrame with the total players
total_player_df = pd.DataFrame({"Total Players":[player_count]})
total_player_df

   Total Players
0            576

## Purchasing Analysis (Total)

In [56]:
# Calculate unique items, average price, purchase count, and revenue
number_of_items = purchase_data_df["Item ID"].nunique()
average_price = purchase_data_df["Price"].mean()
number_of_purchases = purchase_data_df["Purchase ID"].count()
total_revenue = purchase_data_df["Price"].sum()

#Print to check if the values are correct 
# print(number_of__items)
# print(average_price)
# print(number_of_purchases)
# print(total_revenue)

# Create a DafaFrame with values above
PA_total_summary_df = pd.DataFrame({"Number of Unique Items":[number_of_items],
                           "Average Price":[average_price], 
                            "Number of Purchases": [number_of_purchases], 
                            "Total Revenue": [total_revenue]})

# Format the values with dollar sign and two decimal places
PA_total_summary_df["Average Price"] = PA_total_summary_df["Average Price"].map("${:.2f}".format) 
PA_total_summary_df["Total Revenue"] = PA_total_summary_df["Total Revenue"].map("${:,.2f}".format) 

PA_total_summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

In [83]:
# Group purchase_data by Gender
gender_grouped = purchase_data.groupby("Gender")

# Count the number of each gender
gender_count = gender_grouped["SN"].nunique()

# Calculate Percentage  
gender_percentage = gender_count / total_players * 100

# Create a DataFrame with the values above
gender_demographics_df = pd.DataFrame({"Total Count": gender_count, 
                                    "Percentage of Players": gender_percentage})

#Sort the data from high to low percentage and display upto two decimal places
gender_demographics_df["Percentage of Players"] = gender_demographics_df["Percentage of Players"].map("{:.2f}%".format) 
gender_demographics_df = gender_demographics_df.sort_values (by =['Percentage of Players'], ascending = False)
gender_demographics_df

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

## Purchasing Analysis (Gender)

In [78]:
#Count the number of puchase 
gender_purchase_count = gender_grouped["Purchase ID"].count()

# Calculate the average puchase price and total purchase based on gender
gender_avg_purchase = gender_grouped["Price"].mean()
gender_total_purchase = gender_grouped["Price"].sum()

# Calculate the average purchase per person based on gender 
avg_purchase_per_person = gender_total_purchase/gender_count

# Create a DataFrame with the values above
gender_analysis_df = pd.DataFrame({"Purchase Count": gender_purchase_count, 
                                    "Average Purchase Price": gender_avg_purchase,
                                    "Total Purchase Value":gender_total_purchase,
                                    "Avg Total Purchase per Person": avg_purchase_per_person})


#Format the values with dollar sign and two decimal places 
gender_analysis_df["Average Purchase Price"] = gender_analysis_df["Average Purchase Price"].map("${:.2f}".format) 
gender_analysis_df["Total Purchase Value"] = gender_analysis_df["Total Purchase Value"].map("${:,.2f}".format)
gender_analysis_df["Avg Total Purchase per Person"] = gender_analysis_df["Avg Total Purchase per Person"].map("${:.2f}".format) 
gender_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

# #Age Demographics

In [79]:
#Check the highest value in age for binning
print(purchase_data_df["Age"].max())

45

In [143]:
#Assign the age groups and create a bin 

bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]
age_group = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Segment and sort age values into bins established above
purchase_data_df["Age Ranges"] = pd.cut(purchase_data_df["Age"],bins, labels=age_group, include_lowest=False)


#Group based on age 
age_grouped = purchase_data_df.groupby("Age Ranges")

#Count total players based on age 
age_count = age_grouped["SN"].nunique()


# Calculate percentages based on age and tried formatting in one line 
age_percentage = round(age_count/total_players *100,2).map("{}%".format)

#Create a DataFrame with the values above 
age_demographics_df = pd.DataFrame ({
    "Total Count":age_count,
    "Percentage of Players":age_percentage
    })
age_demographics_df

            Total Count Percentage of Players
Age Ranges
<10                  17                 2.95%
10-14                22                 3.82%
15-19               107                18.58%
20-24               258                44.79%
25-29                77                13.37%
30-34                52                 9.03%
35-39                31                 5.38%
40+                  12                 2.08%

## Purchasing Analysis(Age)

In [158]:
# Count purchases by age 
age_purchase_count = age_grouped["Purchase ID"].count()

#Gain the average purchase price and calculate total purchase by age  
age_average_purchase = age_grouped["Price"].mean().map("${:.2f}".format)
age_total_purchase = age_grouped["Price"].sum()

# Calculate the average purchase per person in the age group 
avg_purchase_per_person_age = round(age_total_purchase/age_count,2).map("${}".format)

# Create a DataFrame with the values above 
PA_age_df = pd.DataFrame({"Purchase Count": age_purchase_count,
                                 "Average Purchase Price": age_average_purchase,
                                 "Total Purchase Value":age_total_purchase,
                                 "Average Purchase Total per Person": avg_purchase_per_person_age})

# Format the Total Purchase Values 
PA_age_df["Total Purchase Value"] = PA_age_df["Total Purchase Value"].map("${:,.2f}".format) 
PA_age_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

In [167]:
#Group the spenders first 
spender_lists = purchase_data_df.groupby("SN")


# Count the total purchases by name
spender_purchase_count = spender_lists["Purchase ID"].count()

# Calculate the average purchase by name 
spender_avg_purchase = spender_lists["Price"].mean()

# Calculate purchase total 
spender_total_purchase = spender_lists["Price"].sum()

# Create data frame with obtained values
top_spenders_df = pd.DataFrame({"Purchase Count": spender_purchase_count,
                             "Average Purchase Price": spender_avg_purchase,
                             "Total Purchase Value":spender_total_purchase})

# Sort in descending order to obtain top 5 spender names 
top_five_spenders_df = top_spenders_df.sort_values(["Total Purchase Value"], ascending=False).head()

# Format with a new style using style.format 
top_five_spenders_df.style.format({"Average Purchase Price": "${:,.2f}",
                                   "Total Purchase Value": "${:.2f}"
    })

## Most Popular Items

In [169]:
items = purchase_data_df[["Item ID", "Item Name", "Price"]]

# Group the item data by item id and item name 
item_lists = items.groupby(["Item ID","Item Name"])

# Count the number of times an item has been purchased 
item_purchase_count = item_lists["Price"].count()

# Calcualte the purchase value per item 
item_total_value = (item_lists["Price"].sum()) 

# Find individual item price
item_price = item_total_value/item_purchase_count

# Create data frame with obtained values
popular_items_df = pd.DataFrame({"Purchase Count": item_purchase_count, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":item_total_value})

# Display the top five items based on Purchase Count 
top_five_items_df = popular_items_df.sort_values(["Purchase Count"], ascending=False).head()

# Apply the previous format to make it clean 
top_five_items_df.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

In [171]:
# Display the top five items based on Total Purchase Value 
most_profitable_df = popular_items_df.sort_values(["Total Purchase Value"],ascending=False).head()
# Apply the previous format to make it clean 
most_profitable_df.style.format({"Item Price":"${:.2f}",
                                "Total Purchase Value":"${:.2f}"})